
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system,IntegralCF-Bold,SpaceMono-Regular;
  background-color: black;
}



* {
  box-sizing: border-box;
}

.backGround{
  min-height: 100%;
  background: url('/gymBackground.jpg');
  width:100%;
  height:100%; 

 

}
.p1{
  font-family: 'Space Mono', monospace;
  color:white;
  padding-inline: 2%;
  text-decoration: none;
}

a {
  color:white;
  text-decoration-line: none;
  font-family: 'Space Mono', monospace;
}
a:link{
  text-decoration: none!important;
}
a:hover {
  color:white;
  text-decoration: underline;
}
.center {
  text-align: center;

}

.border {
  -webkit-text-stroke: 2px white; /* width and color */

color: black;
}

.cardImg{
  filter: opacity(80%);
}
.checkbox{
  color:white;
}
.gridExe{
padding: 2%;
  width:500px;
  background-color: black;
  filter: opacity(90%);

}

.chip{
  color:white; 
  font-Family: 'SpaceMono-Regular';
  border-width: 2px;
 margin:0.5%
}
.logo{
  font-Size:40px;
  color:white;
  font-Family:'Oswald';
  -webkit-text-stroke: 2px white;
}
.subTitle{
  font-Size:20px;
  color:white;
  font-Family:'Oswald';

}
.take{
  font-Size:40px;
  color:white;
  padding-Top:15%;
  padding-Inline:15%;
  font-Family:'Oswald';
  -webkit-text-stroke: 2px white;
}