
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system,IntegralCF-Bold,SpaceMono-Regular;
}



* {
  box-sizing: border-box;
}

.backGround{
  min-height: 100%;
  width:100%;
  height:100%; 

 

}
.p1{
  font-family: 'Space Mono', monospace;
  padding-inline: 2%;
  text-decoration: none;
}

a {

  text-decoration-line: none;
  font-family: 'Space Mono', monospace;
}
.center {
  text-align: center;
padding-bottom: 10%;
}



.gridExe{
padding: 2%;
  width:500px;
  background-color: black;
  filter: opacity(90%);

}

.chip{

  font-Family: 'SpaceMono-Regular';

 margin:0.5%
}
.logo{
  font-Size:40px;
  font-Family:'Montserrat', sans-serif;

}
.subTitle{
  font-Size:20px;
  font-Family:'Montserrat', sans-serif;
  color: black;
  text-decoration: none;

}
.take{
  font-Size:40px;
  padding-Top:15%;
  padding-Inline:15%;
  font-Family:'Montserrat', sans-serif;
}

@media only screen and (max-width: 600px) {
 .bread{
  justify-Content: center;

  }
  .subTitle{
    font-Size:20px;
    font-Family:'Montserrat', sans-serif;
    color: black;
    text-decoration: none;
  
  }
  a {

    text-decoration-line: none;
    font-family: 'Space Mono', monospace;
  }
}